:root {
    --bg: #fcfcfc;
    --shadow: #d1cbc2;

    --yellow: #fbab35;
    --black: #2d2e35;
    --blue-light: #4175b2;
    --blue-dark: #14549c;
    --green-light: #67b88b;
    --green: #4dac76;
    --green-dark: #14944c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    max-width: 100%;
    color: var(--black);
    background-color: var(--bg);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: justify;
}

a {
    color: var(--bg);
    text-decoration: none;
}

a:hover {
    transition: 0.5s;
    color: var(--yellow);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

header {
    background-color: var(--bg);
    margin: 0 auto;
}

header img {
    height: 300px;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
}

h1 {
    font-weight: bold;
}

.brasao-rr {
    position: absolute;
    top: 1rem;
    right: var(--bs-gutter-x, .75rem);
    width: 60px;
    height: auto;
}

nav ul {
    margin: 0;
    background-color: var(--blue-dark);
    border-radius: 1rem;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

.intro {
    text-align-last: center;
}

.intro ul {
    text-align: left;
    text-align-last: left;
}

.o-que-e {
    text-align: center;
    font-size: 70px;
    border-radius: 1rem 1rem 5rem 1rem;
    background-color: var(--yellow);
}

.o-que-e-2 {
    border-radius: 1rem 1rem 1rem 5rem;
}

.o-que-e-img {
    background-image: url(./images/Feb-Business_9.jpg);
    background-size: 80%;
    background-position: 50%;
    background-color: var(--bg);
    background-blend-mode: multiply;
}

.topicos-o-que-e .eixos {
    text-align: justify;
}

.topicos-o-que-e .eixos.active {
    border-radius: 1rem;
    text-align-last: center;
    background-color: var(--green-dark);
}

.eixos {
    background-color: var(--blue-dark);
    border-radius: 1rem;
}

.eixos i {
    min-width: 30px;
    font-size: 20px;
    margin: 0 10px 0 0;
}

li.eixos {
    color: var(--bg);
}

.eixo {
    color: var(--bg);
    font-weight: 700;
    text-align: left;
}

.active {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--blue-light);
    transition: padding 300ms border-radius 300ms background-color 300ms;
}

.eixo-text-parent {
    height: 26rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.eixo-text-parent .col-3 {
    padding-left: 0;
}

.eixo-text-parent .col-9 {
    padding-right: 0;
}

.eixo-text {
    max-height: 100%;
    overflow: auto;
}

#form-ppa {
    width: 75%;
}

.form-ppa {
    border-radius: 1rem;
    background: linear-gradient(135deg, var(--blue-dark), var(--green));
    /* background-color: var(--blue-dark); */
    color: var(--bg);
}

.form-ppa label {
    font-weight: 700;
}

.form-ppa button {
    width: 20%;
    border-radius: .3rem;
    border: transparent;
    color: var(--bg);
    background-color: var(--black);
    font-size: 20px;
}

.form-ppa h2 {
    color: var(--yellow);
    font-size: 48px;
    text-align: center;
}

.form-ppa p {
    text-align: justify;
    text-align-last: center;
}

.text-form {
    margin: 0;
    font-size: 20px;
}

hr {
    margin: 0;
    opacity: 1;
    border: 2px solid var(--yellow);
    border-radius: 1rem;
}

form {
    width: 60%;
}

.container-form-row select,
.container-form-row input {
    width: 47.5%;
}

.container-form-end select {
    width: 30%;
}

.form-select {
    color: var(--black);
    background-color: var(--bg);
}

.form-select:focus,
.form-control:focus {
    box-shadow: 0 0 0 .25rem var(--blue-light);
}

.captcha {
    width: 100%;
}

.captcha div {
    width: 100%;
    overflow-y: hidden;
}

#cidades-ppa i {
    font-size: 70px;
}

#cidades-ppa h2 {
    font-size: 48px;
    text-align: center;
}

footer {
    height: 100px;
    box-shadow: 0 0 100px 10px var(--shadow);
    background-color: var(--black);
}

footer img {
    width: 200px;
}

footer .row {
    width: min-content;
}

footer .row i {
    background-color: var(--blue-dark);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--bg);
    font-size: 18px;
    margin-right: 5px;
}

@media (max-width: 1399px) {
    .o-que-e-img {
        background-size: 100%;
        background-position: 50%;
        background-color: var(--bg);
        background-blend-mode: multiply;
    }

    form {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .eixo-text-parent section.col-3 {
        width: 30%;
    }

    .eixo-text-parent section.col-9 {
        width: 70%;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 1.5rem;
    }

    .o-que-e-img {
        display: none;
    }

    .topicos-o-que-e-1 {
        width: 100%;
    }

    .eixo-text-parent {
        height: auto;
    }

    .eixo-text-parent.row {
        display: block;
    }

    .eixo-text-parent section.col-3 {
        width: 100%;
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .eixo-text-parent section.col-9 {
        width: 100%;
        padding-left: 0;
    }

    form {
        width: 100%;
    }

    .ultimos-selects-form {
        flex-direction: column;
    }

    .ultimos-selects-form select {
        width: 100%;
    }

    .ultimos-selects-form select:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .eixo-text-parent {
        height: auto;
    }

    .eixo-text-parent.row {
        display: block;
    }

    .eixo-text-parent section.col-3 {
        width: 100%;
        margin-bottom: 2rem;
    }

    .eixo-text-parent section.col-9 {
        width: 100%;
    }

    .form-ppa button {
        width: 40%;
    }
}